* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

#iau9 {
	font-family: Arial, Helvetica, sans-serif;
	background-image: linear-gradient(180deg, #000000 35%, #21033f 56%);
	background-position: 0px 0px;
	background-size: 100% 100%;
	background-repeat: repeat;
	background-attachment: scroll;
	background-origin: padding-box;
	color: #475569;
	background-color: #20023f;
}

.gjs-grid-column.feature-item {
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	min-width: 30%;
}

.gjs-grid-column.testimonial-item {
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	min-width: 45%;
	background-color: rgba(247, 247, 247, 0.23);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	align-items: flex-start;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: rgba(0, 0, 0, 0.06);
	border-right-color: rgba(0, 0, 0, 0.06);
	border-bottom-color: rgba(0, 0, 0, 0.06);
	border-left-color: rgba(0, 0, 0, 0.06);
}

.gjs-container {
	width: 90%;
	margin: 0 auto;
	max-width: 1200px;
}

.gjs-section {
	display: flex;
	padding: 50px 0;
}

#ihi16 {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.gjs-grid-row {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-direction: row;
	min-height: auto;
	padding: 10px 0;
}

#izz5f {
	color: black;
	width: 118px;
	height: 47px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#ie19a {
	color: black;
	width: 68px;
	height: 44px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 50px;
}

#i08zo {
	padding: 10px;
}

#iuv1o {
	line-height: 1.2;
	text-align: center;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

#ifslb {
	font-size: 29pt;
	font-family: Lexend, sans-serif;
	color: rgb(255, 15, 123);
	font-weight: 700;
	font-variant-numeric: normal;
	font-variant-east-asian: normal;
	font-variant-alternates: normal;
	font-variant-position: normal;
	font-variant-emoji: normal;
	vertical-align: baseline;
	white-space-collapse: preserve;
}

#iqh2g {
	font-size: 29pt;
	font-variant-numeric: normal;
	font-variant-east-asian: normal;
	font-variant-alternates: normal;
	font-variant-position: normal;
	font-variant-emoji: normal;
	vertical-align: baseline;
}

#iahnp {
	font-size: 15pt;
	color: rgb(255, 255, 255);
	font-variant-numeric: normal;
	font-variant-east-asian: normal;
	font-variant-alternates: normal;
	font-variant-position: normal;
	font-variant-emoji: normal;
	vertical-align: baseline;
}

#ilgbu {
	font-size: 29pt;
	font-variant-numeric: normal;
	font-variant-east-asian: normal;
	font-variant-alternates: normal;
	font-variant-position: normal;
	font-variant-emoji: normal;
	vertical-align: baseline;
}

#izhh6 {
	font-size: 15pt;
	color: rgb(255, 255, 255);
	font-variant-numeric: normal;
	font-variant-east-asian: normal;
	font-variant-alternates: normal;
	font-variant-position: normal;
	font-variant-emoji: normal;
	vertical-align: baseline;
}

#i8x2i {
	font-size: 29pt;
	font-variant-numeric: normal;
	font-variant-east-asian: normal;
	font-variant-alternates: normal;
	font-variant-position: normal;
	font-variant-emoji: normal;
	vertical-align: baseline;
}

#ida8d {
	font-size: 15pt;
	color: rgb(255, 255, 255);
	font-variant-numeric: normal;
	font-variant-east-asian: normal;
	font-variant-alternates: normal;
	font-variant-position: normal;
	font-variant-emoji: normal;
	vertical-align: baseline;
}

#ij355 {
	font-size: 29pt;
	font-variant-numeric: normal;
	font-variant-east-asian: normal;
	font-variant-alternates: normal;
	font-variant-position: normal;
	font-variant-emoji: normal;
	vertical-align: baseline;
}

#i6ej7 {
	line-height: 1.2;
	text-align: center;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

#iycgz-2 {
	font-size: 34pt;
	font-family: Lexend, sans-serif;
	color: rgb(255, 255, 255);
	font-weight: 700;
	font-variant-numeric: normal;
	font-variant-east-asian: normal;
	font-variant-alternates: normal;
	font-variant-position: normal;
	font-variant-emoji: normal;
	vertical-align: baseline;
	white-space-collapse: preserve;
}

.gjs-grid-column {
	flex: 1 1 0%;
	padding: 5px 0;
}

#i5f7sg {
	justify-content: center;
}

#ih47mm {
	align-self: center;
	flex: 0 1 auto;
	padding-top: 5px;
	padding-right: 26px;
	padding-bottom: 5px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#ic0mpk {
	align-self: center;
}

#imst9u {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
	align-items: center;
}

#ian8wi {
	align-items: stretch;
	justify-content: center;
	display: flex;
}

#iulvif {
	flex: 0 0 auto;
	align-self: auto;
	display: flex;
}

#i3fh5m {
	color: black;
	display: flex;
	justify-content: center;
	max-width: 100%;
}

@media (max-width:992px) {
	.gjs-grid-row {
		flex-direction: column;
	}

	#iulvif {
		justify-content: center;
	}
}

@media (max-width:480px) {
	#iulvif {
		display: flex;
		flex: 0 0 auto;
		align-self: auto;
	}

	#i3fh5m {
		display: flex;
	}
}
